In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
test = pd.read_csv('../15_modified_data/test_data.csv')
test.head()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,date,pickup_community_name,dropoff_community_name,year,month,day,day_of_week,hour,weekend,nonzero_tip
0,2019-01-05 07:00:00,2019-01-05 07:00:00,232.0,1.053800,2.5,0,2.55,False,1,2019-01-05,SOUTH LAWNDALE,SOUTH LAWNDALE,2019,January,5,Saturday,7,1,0
1,2019-08-02 07:15:00,2019-08-02 07:30:00,937.0,9.922978,20.0,0,2.55,False,1,2019-08-02,NEAR WEST SIDE,CHATHAM,2019,August,2,Friday,7,1,0
2,2019-06-11 14:15:00,2019-06-11 14:45:00,1236.0,4.171590,7.5,0,2.55,True,2,2019-06-11,NORTH CENTER,LINCOLN SQUARE,2019,June,11,Tuesday,14,0,0
3,2019-04-22 09:30:00,2019-04-22 10:00:00,1093.0,4.292988,7.5,0,2.55,True,2,2019-04-22,IRVING PARK,BELMONT CRAGIN,2019,April,22,Monday,9,0,0
4,2019-08-15 15:45:00,2019-08-15 16:00:00,1246.0,4.731899,12.5,0,2.55,False,1,2019-08-15,WEST TOWN,LAKE VIEW,2019,August,15,Thursday,15,0,0

In [4]:
y = test['tip']
len(y)

23916

In [3]:
X = pd.get_dummies(test, columns = ['dropoff_community_name', 'pickup_community_name'])
X.head()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,date,...,pickup_community_name_WASHINGTON HEIGHTS,pickup_community_name_WASHINGTON PARK,pickup_community_name_WEST ELSDON,pickup_community_name_WEST ENGLEWOOD,pickup_community_name_WEST GARFIELD PARK,pickup_community_name_WEST LAWN,pickup_community_name_WEST PULLMAN,pickup_community_name_WEST RIDGE,pickup_community_name_WEST TOWN,pickup_community_name_WOODLAWN
0,2019-01-05 07:00:00,2019-01-05 07:00:00,232.0,1.053800,2.5,0,2.55,False,1,2019-01-05,...,0,0,0,0,0,0,0,0,0,0
1,2019-08-02 07:15:00,2019-08-02 07:30:00,937.0,9.922978,20.0,0,2.55,False,1,2019-08-02,...,0,0,0,0,0,0,0,0,0,0
2,2019-06-11 14:15:00,2019-06-11 14:45:00,1236.0,4.171590,7.5,0,2.55,True,2,2019-06-11,...,0,0,0,0,0,0,0,0,0,0
3,2019-04-22 09:30:00,2019-04-22 10:00:00,1093.0,4.292988,7.5,0,2.55,True,2,2019-04-22,...,0,0,0,0,0,0,0,0,0,0
4,2019-08-15 15:45:00,2019-08-15 16:00:00,1246.0,4.731899,12.5,0,2.55,False,1,2019-08-15,...,0,0,0,0,0,0,0,0,1,0

In [5]:
X.drop(['tip', 'trip_start_timestamp', 'trip_end_timestamp', 'date' ], axis=1, inplace=True)

In [6]:
month_map = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
X['month_int'] = X['month'].map(month_map)

In [7]:
day_map = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}
X['day_ofweek_int'] = X['day_of_week'].map(day_map)
X['day_ofweek_int'].value_counts()

6    4350
5    4065
4    3361
7    3313
3    3121
2    2965
1    2741
Name: day_ofweek_int, dtype: int64

In [8]:
X.drop(['day_of_week', 'month' ], axis=1, inplace=True)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
reg = LinearRegression().fit(X_train, y_train)

In [12]:
reg.score(X_test, y_test)

0.6688081838860044

In [13]:
ypred_lr = reg.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import r2_score

In [17]:
r2_score(ypred_lr, y_test)

0.5377764668390917

In [18]:
import imblearn
from imblearn.under_sampling import RandomUnderSampler
import collections
from imblearn.over_sampling import RandomOverSampler

In [19]:
ros = RandomOverSampler(random_state=42)
x_ros, y_ros = ros.fit_resample(X, y)

In [20]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(x_ros, y_ros, test_size=0.2, random_state=0)

In [21]:
reg2 = LinearRegression().fit(X_train2, y_train2)
reg2.score(X_test2, y_test2)

0.788425750226809

In [25]:
ypred_lr2 = reg2.predict(X_test2)
r2_score(ypred_lr2, y_test2)

0.7314977598412664

In [23]:
rus = RandomUnderSampler(random_state=42, replacement=True)
x_rus, y_rus = rus.fit_resample(X, y)
X_train1, X_test1, y_train1, y_test1 = train_test_split(x_rus, y_rus, test_size=0.2, random_state=0)

In [24]:
reg3 = LinearRegression().fit(X_train1, y_train1)
reg3.score(X_test1, y_test1)

-2.042890837986968

In [26]:
ypred_lr2 = reg3.predict(X_test1)
r2_score(ypred_lr2, y_test1)

-0.6507511663893222