In [137]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [138]:
train = pd.read_csv('../15_modified_data/train_data.csv')
train.head()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,date,...,wind_speed,pickup_community_name,dropoff_community_name,year,month,day,day_of_week,hour,weekend,nonzero_tip
0,2019-09-24 06:30:00,2019-09-24 06:45:00,802.0,6.183132,10.0,3,2.55,False,1,2019-09-24,...,210.27236,LINCOLN PARK,NEAR WEST SIDE,2019,September,24,Tuesday,6,0,1
1,2019-07-30 11:45:00,2019-07-30 12:30:00,2349.0,18.248731,35.0,0,8.11,False,1,2019-07-30,...,161.05968,OHARE,NEAR NORTH SIDE,2019,July,30,Tuesday,11,0,0
2,2018-11-17 01:15:00,2018-11-17 01:30:00,684.0,5.277118,10.0,0,2.50,False,1,2018-11-17,...,161.05968,NEAR NORTH SIDE,NORTH CENTER,2018,November,17,Saturday,1,1,0
3,2019-12-09 12:00:00,2019-12-09 12:15:00,698.0,3.079843,7.5,1,2.55,False,1,2019-12-09,...,279.61750,WEST TOWN,NEAR WEST SIDE,2019,December,9,Monday,12,0,1
4,2018-12-17 15:00:00,2018-12-17 15:00:00,812.0,2.996371,7.5,0,2.50,False,1,2018-12-17,...,161.05968,SOUTH SHORE,GREATER GRAND CROSSING,2018,December,17,Monday,15,0,0

In [139]:
y = train['tip']
len(y)

83703

In [140]:
month_map = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
train['month_int'] = train['month'].map(month_map)
day_map = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}
train['day_ofweek_int'] = train['day_of_week'].map(day_map)
# train['day_ofweek_int'].trainue_counts()
train.drop(['day_of_week', 'month' ], axis=1, inplace=True)
X = pd.get_dummies(train, columns = ['dropoff_community_name', 'pickup_community_name'])
X.drop(['nonzero_tip', 'tip', 'trip_start_timestamp', 'trip_end_timestamp', 'date' ], axis=1, inplace=True)

In [141]:
# X = pd.get_dummies(train, columns = ['dropoff_community_name', 'pickup_community_name'])
# X.head()

In [142]:
# X.drop(['tip', 'nonzero_tip', 'trip_start_timestamp', 'trip_end_timestamp', 'date' ], axis=1, inplace=True)

In [143]:
# month_map = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
# X['month_int'] = X['month'].map(month_map)

In [144]:
# day_map = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}
# X['day_ofweek_int'] = X['day_of_week'].map(day_map)
# X['day_ofweek_int'].value_counts()

In [145]:
# X.drop(['day_of_week', 'month' ], axis=1, inplace=True)

In [146]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [147]:
from sklearn.linear_model import LinearRegression

In [148]:
# reg = LinearRegression().fit(X_train, y_train)

In [149]:
# reg.score(X_test, y_test)

In [150]:
# ypred_lr = reg.predict(X_test)

In [151]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import r2_score

In [152]:
# r2_score(ypred_lr, y_test)

In [153]:
import imblearn
from imblearn.under_sampling import RandomUnderSampler
import collections
from imblearn.over_sampling import RandomOverSampler

In [154]:
# ros = RandomOverSampler(random_state=42)
# x_ros, y_ros = ros.fit_resample(X, y)

In [155]:
# X_train2, X_test2, y_train2, y_test2 = train_test_split(x_ros, y_ros, test_size=0.2, random_state=0)

In [156]:
# reg2 = LinearRegression().fit(X_train2, y_train2)
# reg2.score(X_test2, y_test2)

In [157]:
# ypred_lr2 = reg2.predict(X_test2)
# r2_score(ypred_lr2, y_test2)

In [158]:
# rus = RandomUnderSampler(random_state=42, replacement=True)
# x_rus, y_rus = rus.fit_resample(X, y)
# X_train1, X_test1, y_train1, y_test1 = train_test_split(x_rus, y_rus, test_size=0.2, random_state=0)

In [159]:
# reg3 = LinearRegression().fit(X_train1, y_train1)
# reg3.score(X_test1, y_test1)

In [160]:
# ypred_lr2 = reg3.predict(X_test1)
# r2_score(ypred_lr2, y_test1)

In [161]:
# X[X['tip'] > 1]
new = pd.concat([y, X], axis=1)
new.head()
tippers = new[new['tip']>1].copy()
tippers.head()
# tippers.head()

,tip,trip_seconds,trip_miles,fare,additional_charges,shared_trip_authorized,trips_pooled,max_temp,min_temp,precip,...,pickup_community_name_WASHINGTON HEIGHTS,pickup_community_name_WASHINGTON PARK,pickup_community_name_WEST ELSDON,pickup_community_name_WEST ENGLEWOOD,pickup_community_name_WEST GARFIELD PARK,pickup_community_name_WEST LAWN,pickup_community_name_WEST PULLMAN,pickup_community_name_WEST RIDGE,pickup_community_name_WEST TOWN,pickup_community_name_WOODLAWN
0,3,802.0,6.183132,10.0,2.55,False,1,80.06,80.06,0.00000,...,0,0,0,0,0,0,0,0,0,0
8,4,1921.0,15.367562,22.5,7.55,False,1,95.00,95.00,0.00000,...,0,0,0,0,0,0,0,0,0,0
13,2,1687.0,7.392372,15.0,2.50,False,1,48.92,48.92,0.19685,...,0,0,0,0,0,0,0,0,0,0
17,5,505.0,1.853181,5.0,2.55,False,1,87.98,87.98,0.00000,...,0,0,0,0,0,0,0,0,0,0
18,3,599.0,1.890000,5.0,2.55,False,1,27.14,27.14,0.00000,...,0,0,0,0,0,0,0,0,0,0

In [162]:
tippers_y = tippers['tip']

tippers_X = tippers.drop(['tip'], axis = 1)

In [163]:
tippers_X.head()

,trip_seconds,trip_miles,fare,additional_charges,shared_trip_authorized,trips_pooled,max_temp,min_temp,precip,snow,...,pickup_community_name_WASHINGTON HEIGHTS,pickup_community_name_WASHINGTON PARK,pickup_community_name_WEST ELSDON,pickup_community_name_WEST ENGLEWOOD,pickup_community_name_WEST GARFIELD PARK,pickup_community_name_WEST LAWN,pickup_community_name_WEST PULLMAN,pickup_community_name_WEST RIDGE,pickup_community_name_WEST TOWN,pickup_community_name_WOODLAWN
0,802.0,6.183132,10.0,2.55,False,1,80.06,80.06,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
8,1921.0,15.367562,22.5,7.55,False,1,95.00,95.00,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
13,1687.0,7.392372,15.0,2.50,False,1,48.92,48.92,0.19685,0.0,...,0,0,0,0,0,0,0,0,0,0
17,505.0,1.853181,5.0,2.55,False,1,87.98,87.98,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
18,599.0,1.890000,5.0,2.55,False,1,27.14,27.14,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0

In [164]:
# reg_tip= LinearRegression().fit(X_train, y_train)
# reg_tip.score(X_test2, y_test2)
# # reg_tip = LinearRegression().fit(X_train2, y_train2)
# # reg_tip.score(X_test2, y_test2)

In [165]:
# ypred_lr2 = reg_tip.predict(X_test2)
# r2_score(ypred_lr2, y_test2)

In [166]:
val = pd.read_csv('../15_modified_data/val_data.csv')
val.head()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,date,...,wind_speed,pickup_community_name,dropoff_community_name,year,month,day,day_of_week,hour,weekend,nonzero_tip
0,2018-11-18 07:00:00,2018-11-18 07:00:00,100.0,0.572958,2.5,0,2.50,False,1,2018-11-18,...,100.66230,IRVING PARK,IRVING PARK,2018,November,18,Sunday,7,1,0
1,2020-01-22 09:30:00,2020-01-22 09:45:00,986.0,4.142381,10.0,0,4.83,False,1,2020-01-22,...,170.00744,NEAR NORTH SIDE,LOOP,2020,January,22,Wednesday,9,0,0
2,2018-11-26 18:45:00,2018-11-26 19:00:00,584.0,1.830871,5.0,1,2.50,False,1,2018-11-26,...,331.06712,LAKE VIEW,LINCOLN PARK,2018,November,26,Monday,18,0,1
3,2018-12-30 15:15:00,2018-12-30 15:30:00,819.0,4.976403,10.0,0,2.50,False,1,2018-12-30,...,210.27236,SOUTH SHORE,FULLER PARK,2018,December,30,Sunday,15,1,0
4,2019-07-01 23:45:00,2019-07-02 00:00:00,1162.0,8.918748,15.0,2,2.55,False,1,2019-07-01,...,170.00744,NEAR WEST SIDE,EDGEWATER,2019,July,1,Monday,23,0,1

In [167]:
val_y = val['nonzero_tip']
len(val_y)

11957

In [168]:
month_map = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
val['month_int'] = val['month'].map(month_map)
day_map = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}
val['day_ofweek_int'] = val['day_of_week'].map(day_map)
# val['day_ofweek_int'].value_counts()
val.drop(['day_of_week', 'month' ], axis=1, inplace=True)
val_X = pd.get_dummies(val, columns = ['dropoff_community_name', 'pickup_community_name'])
val_X.drop(['nonzero_tip', 'tip', 'trip_start_timestamp', 'trip_end_timestamp', 'date' ], axis=1, inplace=True)

In [169]:
val_X = pd.get_dummies(val, columns = ['dropoff_community_name', 'pickup_community_name'])
val_X.drop(['nonzero_tip', 'tip', 'trip_start_timestamp', 'trip_end_timestamp', 'date' ], axis=1, inplace=True)

In [170]:
tippers_X.drop(['dropoff_community_name_RIVERDALE'], axis = 1, inplace=True)

In [171]:
len(tippers_X)
len(val_X)

11957

In [175]:
reg_tip= LinearRegression().fit(tippers_X, tippers_y)
reg_tip.score(val_X,val_y)
# reg_tip = LinearRegression().fit(X_train2, y_train2)
# reg_tip.score(X_test2, y_test2)

-35212560.05361401

In [176]:
ypred_lr2 = reg_tip.predict(val_X)
r2_score(ypred_lr2, val_y)

-0.00044259263524493164

In [173]:
val_X.head()

,trip_seconds,trip_miles,fare,additional_charges,shared_trip_authorized,trips_pooled,max_temp,min_temp,precip,snow,...,pickup_community_name_WASHINGTON HEIGHTS,pickup_community_name_WASHINGTON PARK,pickup_community_name_WEST ELSDON,pickup_community_name_WEST ENGLEWOOD,pickup_community_name_WEST GARFIELD PARK,pickup_community_name_WEST LAWN,pickup_community_name_WEST PULLMAN,pickup_community_name_WEST RIDGE,pickup_community_name_WEST TOWN,pickup_community_name_WOODLAWN
0,100.0,0.572958,2.5,2.50,False,1,37.94,37.94,0.314961,0.0,...,0,0,0,0,0,0,0,0,0,0
1,986.0,4.142381,10.0,4.83,False,1,35.06,35.06,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
2,584.0,1.830871,5.0,2.50,False,1,33.98,33.98,1.181102,0.0,...,0,0,0,0,0,0,0,0,0,0
3,819.0,4.976403,10.0,2.50,False,1,37.04,37.04,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
4,1162.0,8.918748,15.0,2.55,False,1,91.04,91.04,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0

In [174]:
tippers_X.head()

,trip_seconds,trip_miles,fare,additional_charges,shared_trip_authorized,trips_pooled,max_temp,min_temp,precip,snow,...,pickup_community_name_WASHINGTON HEIGHTS,pickup_community_name_WASHINGTON PARK,pickup_community_name_WEST ELSDON,pickup_community_name_WEST ENGLEWOOD,pickup_community_name_WEST GARFIELD PARK,pickup_community_name_WEST LAWN,pickup_community_name_WEST PULLMAN,pickup_community_name_WEST RIDGE,pickup_community_name_WEST TOWN,pickup_community_name_WOODLAWN
0,802.0,6.183132,10.0,2.55,False,1,80.06,80.06,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
8,1921.0,15.367562,22.5,7.55,False,1,95.00,95.00,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
13,1687.0,7.392372,15.0,2.50,False,1,48.92,48.92,0.19685,0.0,...,0,0,0,0,0,0,0,0,0,0
17,505.0,1.853181,5.0,2.55,False,1,87.98,87.98,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0
18,599.0,1.890000,5.0,2.55,False,1,27.14,27.14,0.00000,0.0,...,0,0,0,0,0,0,0,0,0,0

In [179]:
import statsmodels.formula.api as smf

In [187]:
train.head()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,date,...,wind_speed,pickup_community_name,dropoff_community_name,year,day,hour,weekend,nonzero_tip,month_int,day_ofweek_int
0,2019-09-24 06:30:00,2019-09-24 06:45:00,802.0,6.183132,10.0,3,2.55,False,1,2019-09-24,...,210.27236,LINCOLN PARK,NEAR WEST SIDE,2019,24,6,0,1,9,2
1,2019-07-30 11:45:00,2019-07-30 12:30:00,2349.0,18.248731,35.0,0,8.11,False,1,2019-07-30,...,161.05968,OHARE,NEAR NORTH SIDE,2019,30,11,0,0,7,2
2,2018-11-17 01:15:00,2018-11-17 01:30:00,684.0,5.277118,10.0,0,2.50,False,1,2018-11-17,...,161.05968,NEAR NORTH SIDE,NORTH CENTER,2018,17,1,1,0,11,6
3,2019-12-09 12:00:00,2019-12-09 12:15:00,698.0,3.079843,7.5,1,2.55,False,1,2019-12-09,...,279.61750,WEST TOWN,NEAR WEST SIDE,2019,9,12,0,1,12,1
4,2018-12-17 15:00:00,2018-12-17 15:00:00,812.0,2.996371,7.5,0,2.50,False,1,2018-12-17,...,161.05968,SOUTH SHORE,GREATER GRAND CROSSING,2018,17,15,0,0,12,1

In [197]:
train.columns

Index(['trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'fare', 'tip', 'additional_charges',
       'shared_trip_authorized', 'trips_pooled', 'date', 'max_temp',
       'min_temp', 'precip', 'snow', 'snow_depth', 'wind_speed',
       'pickup_community_name', 'dropoff_community_name', 'year', 'day',
       'hour', 'weekend', 'nonzero_tip', 'month_int', 'day_ofweek_int'],
      dtype='object')

In [202]:
model = smf.ols('tip ~ trip_miles + fare + trip_seconds + weekend + hour', tippers).fit()

In [212]:
train_new = train[train['tip'] > 0 ]

In [246]:
model1 = smf.ols('tip ~ trip_miles + fare + trip_seconds + C(pickup_community_name) + C(dropoff_community_name) + C(day) + wind_speed + trips_pooled + additional_charges + C(month_int)', train_new).fit()

In [247]:
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    tip   R-squared:                       0.410
Model:                            OLS   Adj. R-squared:                  0.402
Method:                 Least Squares   F-statistic:                     52.09
Date:                Sun, 10 Apr 2022   Prob (F-statistic):               0.00
Time:                        15:08:56   Log-Likelihood:                -28511.
No. Observations:               15049   AIC:                         5.742e+04
Df Residuals:                   14850   BIC:                         5.894e+04
Df Model:                         198
Covariance Type:            nonrobust
=======================================================================================================================
                                                          coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------
Intercept                                               0.7526      0.248      3.030      0.002       0.266       1.239
C(pickup_community_name)[T.ARCHER HEIGHTS]             -0.0368      0.407     -0.090      0.928      -0.834       0.760
C(pickup_community_name)[T.ARMOUR SQUARE]               0.1387      0.245      0.567      0.570      -0.341       0.618
C(pickup_community_name)[T.ASHBURN]                     0.7136      0.612      1.167      0.243      -0.485       1.913
C(pickup_community_name)[T.AUBURN GRESHAM]             -0.5355      0.396     -1.352      0.176      -1.312       0.241
C(pickup_community_name)[T.AUSTIN]                     -0.2204      0.311     -0.708      0.479      -0.830       0.389
C(pickup_community_name)[T.AVALON PARK]                 1.0548      0.492      2.143      0.032       0.090       2.020
C(pickup_community_name)[T.AVONDALE]                   -0.0413      0.194     -0.213      0.832      -0.423       0.340
C(pickup_community_name)[T.BELMONT CRAGIN]             -0.1279      0.254     -0.502      0.615      -0.627       0.371
C(pickup_community_name)[T.BEVERLY]                    -0.0980      0.507     -0.194      0.847      -1.091       0.895
C(pickup_community_name)[T.BRIDGEPORT]                 -0.0676      0.251     -0.269      0.788      -0.560       0.425
C(pickup_community_name)[T.BRIGHTON PARK]              -0.2063      0.350     -0.590      0.555      -0.892       0.480
C(pickup_community_name)[T.BURNSIDE]                   -1.9747      1.174     -1.682      0.093      -4.276       0.326
C(pickup_community_name)[T.CALUMET HEIGHTS]             0.2888      0.607      0.476      0.634      -0.901       1.478
C(pickup_community_name)[T.CHATHAM]                    -0.0477      0.334     -0.143      0.886      -0.702       0.607
C(pickup_community_name)[T.CHICAGO LAWN]                0.8594      0.448      1.917      0.055      -0.019       1.738
C(pickup_community_name)[T.CLEARING]                    1.0227      0.530      1.931      0.054      -0.015       2.061
C(pickup_community_name)[T.DOUGLAS]                    -0.0956      0.281     -0.340      0.734      -0.646       0.455
C(pickup_community_name)[T.DUNNING]                     0.4161      0.341      1.219      0.223      -0.253       1.085
C(pickup_community_name)[T.EAST GARFIELD PARK]         -0.0993      0.334     -0.298      0.766      -0.754       0.555
C(pickup_community_name)[T.EAST SIDE]                  -0.6618      0.992     -0.667      0.505      -2.607       1.283
C(pickup_community_name)[T.EDGEWATER]                   0.2314      0.182      1.270      0.204      -0.126       0.589
C(pickup_community_name)[T.EDISON PARK]                -0.4127      0.539     -0.766      0.444      -1.470       0.644
C(pickup_community_name)[T.ENGLEWOOD]                   0.4029      0.493      0.817      0.414      -0.564       1.370
C(pickup_community_name)[T.FOREST GLEN]                 0.2391      0.436      0.548      0.583      -0.616       1.094
C(pickup_community_name)[T.FULLER PARK]                 0.3872      0.837      0.463      0.644      -1.253       2.028
C(pickup_community_name)[T.GAGE PARK]                   0.1469      0.441      0.333      0.739      -0.718       1.012
C(pickup_community_name)[T.GARFIELD RIDGE]              0.5386      0.192      2.802      0.005       0.162       0.915
C(pickup_community_name)[T.GRAND BOULEVARD]            -0.0561      0.311     -0.180      0.857      -0.666       0.554
C(pickup_community_name)[T.GREATER GRAND CROSSING]      0.3307      0.416      0.796      0.426      -0.484       1.146
C(pickup_community_name)[T.HEGEWISCH]                   0.4177      1.721      0.243      0.808      -2.955       3.791
C(pickup_community_name)[T.HERMOSA]                    -0.1065      0.396     -0.269      0.788      -0.883       0.670
C(pickup_community_name)[T.HUMBOLDT PARK]              -0.1684      0.238     -0.707      0.479      -0.635       0.298
C(pickup_community_name)[T.HYDE PARK]                   0.1034      0.196      0.526      0.599      -0.282       0.488
C(pickup_community_name)[T.IRVING PARK]                 0.1703      0.199      0.858      0.391      -0.219       0.559
C(pickup_community_name)[T.JEFFERSON PARK]             -0.0766      0.290     -0.264      0.792      -0.645       0.492
C(pickup_community_name)[T.KENWOOD]                     0.1187      0.282      0.420      0.674      -0.434       0.672
C(pickup_community_name)[T.LAKE VIEW]                   0.1671      0.163      1.028      0.304      -0.151       0.486
C(pickup_community_name)[T.LINCOLN PARK]                0.1108      0.165      0.670      0.503      -0.213       0.435
C(pickup_community_name)[T.LINCOLN SQUARE]              0.2380      0.195      1.219      0.223      -0.145       0.621
C(pickup_community_name)[T.LOGAN SQUARE]                0.0696      0.168      0.414      0.679      -0.260       0.399
C(pickup_community_name)[T.LOOP]                        0.2436      0.161      1.517      0.129      -0.071       0.558
C(pickup_community_name)[T.LOWER WEST SIDE]             0.3941      0.208      1.897      0.058      -0.013       0.801
C(pickup_community_name)[T.MCKINLEY PARK]               0.5554      0.390      1.423      0.155      -0.210       1.320
C(pickup_community_name)[T.MONTCLARE]                  -0.2571      0.639     -0.402      0.688      -1.510       0.996
C(pickup_community_name)[T.MORGAN PARK]                 0.6195      0.459      1.350      0.177      -0.280       1.519
C(pickup_community_name)[T.MOUNT GREENWOOD]            -0.3006      0.628     -0.478      0.632      -1.532       0.931
C(pickup_community_name)[T.NEAR NORTH SIDE]             0.2590      0.159      1.631      0.103      -0.052       0.570
C(pickup_community_name)[T.NEAR SOUTH SIDE]             0.2555      0.173      1.477      0.140      -0.084       0.594
C(pickup_community_name)[T.NEAR WEST SIDE]              0.1628      0.161      1.008      0.313      -0.154       0.479
C(pickup_community_name)[T.NEW CITY]                    0.8736      0.304      2.872      0.004       0.277       1.470
C(pickup_community_name)[T.NORTH CENTER]                0.1583      0.186      0.849      0.396      -0.207       0.524
C(pickup_community_name)[T.NORTH LAWNDALE]             -0.0548      0.304     -0.180      0.857      -0.651       0.542
C(pickup_community_name)[T.NORTH PARK]                  0.0110      0.361      0.030      0.976      -0.696       0.718
C(pickup_community_name)[T.NORWOOD PARK]               -0.3651      0.307     -1.189      0.234      -0.967       0.237
C(pickup_community_name)[T.OAKLAND]                    -0.7558      0.637     -1.187      0.235      -2.004       0.492
C(pickup_community_name)[T.OHARE]                       0.5416      0.182      2.973      0.003       0.184       0.899
C(pickup_community_name)[T.PORTAGE PARK]               -0.2599      0.251     -1.036      0.300      -0.752       0.232
C(pickup_community_name)[T.PULLMAN]                     0.4854      0.902      0.538      0.590      -1.282       2.253
C(pickup_community_name)[T.RIVERDALE]                  -0.8184      1.189     -0.688      0.491      -3.149       1.512
C(pickup_community_name)[T.ROGERS PARK]                 0.1796      0.198      0.908      0.364      -0.208       0.567
C(pickup_community_name)[T.ROSELAND]                    0.4249      0.443      0.960      0.337      -0.442       1.292
C(pickup_community_name)[T.SOUTH CHICAGO]              -0.0629      0.506     -0.124      0.901      -1.054       0.928
C(pickup_community_name)[T.SOUTH DEERING]              -0.4011      0.700     -0.573      0.567      -1.773       0.971
C(pickup_community_name)[T.SOUTH LAWNDALE]              0.2286      0.351      0.651      0.515      -0.459       0.916
C(pickup_community_name)[T.SOUTH SHORE]                 0.9362      0.302      3.102      0.002       0.345       1.528
C(pickup_community_name)[T.UPTOWN]                      0.0806      0.176      0.459      0.646      -0.264       0.425
C(pickup_community_name)[T.WASHINGTON HEIGHTS]          0.1947      0.490      0.397      0.691      -0.765       1.155
C(pickup_community_name)[T.WASHINGTON PARK]             0.0283      0.445      0.064      0.949      -0.844       0.901
C(pickup_community_name)[T.WEST ELSDON]                 0.0467      0.470      0.099      0.921      -0.875       0.969
C(pickup_community_name)[T.WEST ENGLEWOOD]              0.2150      0.573      0.375      0.708      -0.909       1.339
C(pickup_community_name)[T.WEST GARFIELD PARK]          1.3579      0.750      1.811      0.070      -0.112       2.828
C(pickup_community_name)[T.WEST LAWN]                   0.3759      0.391      0.960      0.337      -0.391       1.143
C(pickup_community_name)[T.WEST PULLMAN]               -0.2927      0.776     -0.377      0.706      -1.813       1.228
C(pickup_community_name)[T.WEST RIDGE]                 -0.1276      0.230     -0.554      0.580      -0.579       0.324
C(pickup_community_name)[T.WEST TOWN]                  -0.0350      0.164     -0.214      0.831      -0.356       0.286
C(pickup_community_name)[T.WOODLAWN]                   -0.3602      0.289     -1.245      0.213      -0.927       0.207
C(dropoff_community_name)[T.ARCHER HEIGHTS]             0.5564      0.454      1.224      0.221      -0.334       1.447
C(dropoff_community_name)[T.ARMOUR SQUARE]              0.0257      0.250      0.103      0.918      -0.465       0.516
C(dropoff_community_name)[T.ASHBURN]                    0.1773      0.553      0.321      0.748      -0.906       1.261
C(dropoff_community_name)[T.AUBURN GRESHAM]            -0.2306      0.415     -0.556      0.578      -1.043       0.582
C(dropoff_community_name)[T.AUSTIN]                     0.4608      0.325      1.419      0.156      -0.176       1.097
C(dropoff_community_name)[T.AVALON PARK]               -1.0901      0.971     -1.122      0.262      -2.994       0.814
C(dropoff_community_name)[T.AVONDALE]                   0.0714      0.200      0.357      0.721      -0.320       0.463
C(dropoff_community_name)[T.BELMONT CRAGIN]             0.9524      0.328      2.902      0.004       0.309       1.596
C(dropoff_community_name)[T.BEVERLY]                    0.7311      0.487      1.501      0.133      -0.224       1.686
C(dropoff_community_name)[T.BRIDGEPORT]                 0.1898      0.247      0.770      0.441      -0.293       0.673
C(dropoff_community_name)[T.BRIGHTON PARK]             -0.0917      0.423     -0.217      0.828      -0.921       0.737
C(dropoff_community_name)[T.CALUMET HEIGHTS]           -0.0861      0.534     -0.161      0.872      -1.134       0.961
C(dropoff_community_name)[T.CHATHAM]                    0.4856      0.388      1.250      0.211      -0.276       1.247
C(dropoff_community_name)[T.CHICAGO LAWN]               0.1548      0.418      0.370      0.711      -0.665       0.974
C(dropoff_community_name)[T.CLEARING]                  -0.4984      0.454     -1.098      0.272      -1.388       0.392
C(dropoff_community_name)[T.DOUGLAS]                    0.5563      0.263      2.114      0.035       0.041       1.072
C(dropoff_community_name)[T.DUNNING]                   -0.0421      0.402     -0.105      0.917      -0.830       0.746
C(dropoff_community_name)[T.EAST GARFIELD PARK]         0.1925      0.356      0.541      0.589      -0.505       0.890
C(dropoff_community_name)[T.EAST SIDE]                  0.7422      0.874      0.849      0.396      -0.971       2.455
C(dropoff_community_name)[T.EDGEWATER]                  0.1687      0.192      0.878      0.380      -0.208       0.545
C(dropoff_community_name)[T.EDISON PARK]                0.3227      0.498      0.648      0.517      -0.653       1.298
C(dropoff_community_name)[T.ENGLEWOOD]                 -0.3736      0.463     -0.806      0.420      -1.282       0.535
C(dropoff_community_name)[T.FOREST GLEN]                0.1490      0.392      0.380      0.704      -0.619       0.917
C(dropoff_community_name)[T.FULLER PARK]               -0.3045      0.957     -0.318      0.750      -2.180       1.572
C(dropoff_community_name)[T.GAGE PARK]                 -0.1683      0.534     -0.315      0.753      -1.216       0.879
C(dropoff_community_name)[T.GARFIELD RIDGE]             0.4516      0.197      2.295      0.022       0.066       0.837
C(dropoff_community_name)[T.GRAND BOULEVARD]           -0.1062      0.312     -0.341      0.733      -0.717       0.505
C(dropoff_community_name)[T.GREATER GRAND CROSSING]     0.6255      0.391      1.601      0.109      -0.140       1.391
C(dropoff_community_name)[T.HEGEWISCH]                 -1.1972      1.001     -1.196      0.232      -3.160       0.765
C(dropoff_community_name)[T.HERMOSA]                    0.1586      0.372      0.427      0.670      -0.570       0.887
C(dropoff_community_name)[T.HUMBOLDT PARK]              0.2563      0.252      1.018      0.309      -0.237       0.750
C(dropoff_community_name)[T.HYDE PARK]                  0.1879      0.206      0.914      0.361      -0.215       0.591
C(dropoff_community_name)[T.IRVING PARK]                0.0420      0.206      0.204      0.838      -0.361       0.445
C(dropoff_community_name)[T.JEFFERSON PARK]             0.7004      0.310      2.259      0.024       0.093       1.308
C(dropoff_community_name)[T.KENWOOD]                    0.1955      0.284      0.689      0.491      -0.361       0.752
C(dropoff_community_name)[T.LAKE VIEW]                 -0.0363      0.173     -0.209      0.834      -0.376       0.303
C(dropoff_community_name)[T.LINCOLN PARK]               0.0094      0.176      0.054      0.957      -0.336       0.355
C(dropoff_community_name)[T.LINCOLN SQUARE]             0.1298      0.197      0.657      0.511      -0.257       0.517
C(dropoff_community_name)[T.LOGAN SQUARE]               0.0378      0.178      0.213      0.832      -0.311       0.386
C(dropoff_community_name)[T.LOOP]                       0.1682      0.170      0.988      0.323      -0.166       0.502
C(dropoff_community_name)[T.LOWER WEST SIDE]            0.0828      0.217      0.382      0.703      -0.342       0.508
C(dropoff_community_name)[T.MCKINLEY PARK]             -0.0920      0.338     -0.272      0.786      -0.754       0.570
C(dropoff_community_name)[T.MONTCLARE]                 -0.3187      0.747     -0.427      0.670      -1.783       1.146
C(dropoff_community_name)[T.MORGAN PARK]               -0.0198      0.578     -0.034      0.973      -1.152       1.112
C(dropoff_community_name)[T.MOUNT GREENWOOD]            1.1691      0.634      1.844      0.065      -0.074       2.412
C(dropoff_community_name)[T.NEAR NORTH SIDE]            0.1392      0.169      0.824      0.410      -0.192       0.470
C(dropoff_community_name)[T.NEAR SOUTH SIDE]            0.0323      0.183      0.176      0.860      -0.327       0.392
C(dropoff_community_name)[T.NEAR WEST SIDE]             0.0788      0.172      0.459      0.646      -0.258       0.415
C(dropoff_community_name)[T.NEW CITY]                   0.6177      0.341      1.813      0.070      -0.050       1.286
C(dropoff_community_name)[T.NORTH CENTER]               0.1192      0.197      0.606      0.545      -0.267       0.505
C(dropoff_community_name)[T.NORTH LAWNDALE]            -0.0322      0.302     -0.107      0.915      -0.625       0.560
C(dropoff_community_name)[T.NORTH PARK]                 0.1253      0.350      0.358      0.720      -0.560       0.811
C(dropoff_community_name)[T.NORWOOD PARK]               0.1880      0.320      0.588      0.556      -0.438       0.814
C(dropoff_community_name)[T.OAKLAND]                    0.0319      0.545      0.059      0.953      -1.036       1.099
C(dropoff_community_name)[T.OHARE]                      0.8484      0.187      4.545      0.000       0.483       1.214
C(dropoff_community_name)[T.PORTAGE PARK]               0.0764      0.258      0.296      0.767      -0.429       0.581
C(dropoff_community_name)[T.PULLMAN]                   -0.5038      0.789     -0.639      0.523      -2.050       1.042
C(dropoff_community_name)[T.RIVERDALE]                 -0.9453      0.964     -0.980      0.327      -2.836       0.945
C(dropoff_community_name)[T.ROGERS PARK]                0.3966      0.203      1.949      0.051      -0.002       0.795
C(dropoff_community_name)[T.ROSELAND]                  -0.1862      0.422     -0.441      0.659      -1.013       0.641
C(dropoff_community_name)[T.SOUTH CHICAGO]              0.2283      0.552      0.414      0.679      -0.853       1.310
C(dropoff_community_name)[T.SOUTH DEERING]              0.3272      0.578      0.566      0.572      -0.807       1.461
C(dropoff_community_name)[T.SOUTH LAWNDALE]            -0.1373      0.291     -0.471      0.638      -0.709       0.434
C(dropoff_community_name)[T.SOUTH SHORE]                0.3622      0.317      1.141      0.254      -0.260       0.985
C(dropoff_community_name)[T.UPTOWN]                     0.0967      0.186      0.520      0.603      -0.268       0.461
C(dropoff_community_name)[T.WASHINGTON HEIGHTS]         0.3215      0.581      0.553      0.580      -0.818       1.461
C(dropoff_community_name)[T.WASHINGTON PARK]            0.2252      0.462      0.488      0.626      -0.680       1.130
C(dropoff_community_name)[T.WEST ELSDON]                0.1312      0.765      0.171      0.864      -1.369       1.631
C(dropoff_community_name)[T.WEST ENGLEWOOD]            -0.1022      0.576     -0.178      0.859      -1.231       1.027
C(dropoff_community_name)[T.WEST GARFIELD PARK]         2.2317      0.643      3.472      0.001       0.972       3.491
C(dropoff_community_name)[T.WEST LAWN]                  0.5447      0.395      1.379      0.168      -0.229       1.319
C(dropoff_community_name)[T.WEST PULLMAN]              -0.2319      0.670     -0.346      0.729      -1.545       1.081
C(dropoff_community_name)[T.WEST RIDGE]                 0.0910      0.243      0.374      0.708      -0.386       0.568
C(dropoff_community_name)[T.WEST TOWN]                  0.0174      0.175      0.099      0.921      -0.325       0.360
C(dropoff_community_name)[T.WOODLAWN]                   0.0129      0.297      0.044      0.965      -0.568       0.594
C(day)[T.2]                                             0.0492      0.106      0.465      0.642      -0.158       0.257
C(day)[T.3]                                             0.0011      0.105      0.011      0.992      -0.205       0.208
C(day)[T.4]                                             0.0672      0.108      0.624      0.532      -0.144       0.278
C(day)[T.5]                                             0.0686      0.104      0.661      0.509      -0.135       0.272

In [196]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    tip   R-squared:                       0.357
Model:                            OLS   Adj. R-squared:                  0.357
Method:                 Least Squares   F-statistic:                     1245.
Date:                Sun, 10 Apr 2022   Prob (F-statistic):               0.00
Time:                        15:02:56   Log-Likelihood:                -21585.
No. Observations:               11221   AIC:                         4.318e+04
Df Residuals:                   11215   BIC:                         4.323e+04
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        1.8909      0.051     37.200      0.000       1.791       1.991
trip_miles       0.0132      0.006      2.338      0.019       0.002       0.024
fare             0.1248      0.003     37.039      0.000       0.118       0.131
trip_seconds -3.013e-05   3.75e-05     -0.803      0.422      -0.000    4.34e-05
weekend         -0.0159      0.031     -0.505      0.613      -0.078       0.046
hour            -0.0016      0.003     -0.600      0.549      -0.007       0.004
==============================================================================
Omnibus:                     8991.893   Durbin-Watson:                   2.017
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           502297.498
Skew:                           3.425   Prob(JB):                         0.00
Kurtosis:                      35.053   Cond. No.                     4.72e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.72e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [248]:
final = pd.read_csv('../15_modified_data/final_data.csv')
final.head()

,Unnamed: 0,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tip,additional_charges,...,trips_pooled,pickup_centroid_location,dropoff_centroid_location,date,max_temp,min_temp,precip,snow,snow_depth,wind_speed
0,0,2018-11-01 19:45:00,2018-11-01T20:00:00.000,576.0,2.691298,8,24,7.5,0,2.5,...,1,"{'type': 'Point', 'coordinates': [-87.62887415...","{'type': 'Point', 'coordinates': [-87.66495391...",2018-11-01,51.98,51.98,0.0,0.0,0.0,230.40482
1,1,2018-11-01 18:00:00,2018-11-01T18:00:00.000,500.0,1.572838,61,68,5.0,0,2.5,...,1,"{'type': 'Point', 'coordinates': [-87.65916659...","{'type': 'Point', 'coordinates': [-87.64249752...",2018-11-01,51.98,51.98,0.0,0.0,0.0,230.40482
2,2,2018-11-01 12:30:00,2018-11-01T12:45:00.000,503.0,1.813330,2,77,7.5,0,0.0,...,2,"{'type': 'Point', 'coordinates': [-87.69501258...","{'type': 'Point', 'coordinates': [-87.66341640...",2018-11-01,51.98,51.98,0.0,0.0,0.0,230.40482
3,3,2018-11-01 13:15:00,2018-11-01T13:30:00.000,1444.0,10.235455,32,1,17.5,5,2.5,...,1,"{'type': 'Point', 'coordinates': [-87.62519214...","{'type': 'Point', 'coordinates': [-87.67016685...",2018-11-01,51.98,51.98,0.0,0.0,0.0,230.40482
4,4,2018-11-01 12:00:00,2018-11-01T12:00:00.000,388.0,0.833294,8,32,5.0,0,2.5,...,1,"{'type': 'Point', 'coordinates': [-87.63186394...","{'type': 'Point', 'coordinates': [-87.62197165...",2018-11-01,51.98,51.98,0.0,0.0,0.0,230.40482

In [251]:
final['nonzero_tip'] = np.where(final['tip'] > 0, 1, 0)

In [253]:
final['nonzero_tip'].value_counts()

0    98386
1    21359
Name: nonzero_tip, dtype: int64

In [255]:
zero = len(final[final['nonzero_tip'] == 0])
one = len(final[final['nonzero_tip'] == 1])

In [256]:
zero / (zero + one)

0.8216292955864546

In [257]:
one / (zero + one)

0.17837070441354544

In [258]:
len(final)

119745