In [2]:
import pandas as pd
import numpy as np

In [3]:
# read in weather files
weather1 = pd.read_csv("../10_original_data/weather.csv")
weather2 = pd.read_csv("../10_original_data/weather20212022.csv")

In [7]:
weather = pd.concat([weather1, weather2], ignore_index=True)
weather

,Unnamed: 0,date,max_temp,min_temp,precip,snow,snow_depth,wind_speed
0,0,2018-01-01T00:00:00,3.20,3.20,0.000000,NaN,NaN,170.00744
1,1,2018-01-02T00:00:00,7.16,7.16,0.000000,NaN,NaN,210.27236
2,2,2018-01-03T00:00:00,18.14,18.14,0.000000,NaN,NaN,199.08766
3,3,2018-01-04T00:00:00,13.10,13.10,0.000000,NaN,NaN,170.00744
4,4,2018-01-05T00:00:00,12.20,12.20,0.000000,NaN,NaN,219.22012
...,...,...,...,...,...,...,...,...
1455,360,2021-12-27T00:00:00,48.02,48.02,3.700787,NaN,NaN,230.40482
1456,361,2021-12-28T00:00:00,39.02,39.02,2.716535,NaN,NaN,161.05968
1457,362,2021-12-29T00:00:00,39.02,39.02,0.118110,NaN,NaN,170.00744
1458,363,2021-12-30T00:00:00,39.02,39.02,0.000000,NaN,NaN,161.05968
1459,364,2021-12-31T00:00:00,46.04,46.04,0.000000,NaN,NaN,170.00744

In [9]:
# Read in all uber data
df = pd.concat(
    map(
        pd.read_csv,
        [
            "../10_original_data/2020apr_july.csv",
            "../10_original_data/2021may_aug.csv",
        ],
    ),
    ignore_index=True,
)

# Read in weather data

weather["date"] = pd.DatetimeIndex(weather["date"])
weather["merge"] = weather["date"].dt.strftime("%Y/%m/%d")
df["trip_start_timestamp"] = pd.DatetimeIndex(df["trip_start_timestamp"])
df["merge"] = df["trip_start_timestamp"].dt.strftime("%Y/%m/%d")
weather = weather.fillna(0)

# Merge weather data
new = pd.merge(df, weather, how="left", on="merge")

In [11]:
pd.set_option('display.max_columns', None)
new

,Unnamed: 0_x,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tip,additional_charges,shared_trip_authorized,trips_pooled,pickup_centroid_location,dropoff_centroid_location,date_x,merge,Unnamed: 0_y,date_y,max_temp,min_temp,precip,snow,snow_depth,wind_speed
0,0,2020-04-01 20:30:00,2020-04-01T20:45:00.000,704,3.3200,71,42,7.5,0.0,3.08,False,1,"{'type': 'Point', 'coordinates': [-87.65630598...","{'type': 'Point', 'coordinates': [-87.59492543...",2020-04-01,2020/04/01,820,2020-04-01,53.06,53.06,0.0,0.0,0.0,140.92722
1,1,2020-04-01 07:45:00,2020-04-01T08:00:00.000,270,1.2600,18,19,5.0,0.0,3.08,False,1,"{'type': 'Point', 'coordinates': [-87.79803218...","{'type': 'Point', 'coordinates': [-87.76550160...",2020-04-01,2020/04/01,820,2020-04-01,53.06,53.06,0.0,0.0,0.0,140.92722
2,2,2020-04-01 23:00:00,2020-04-01T23:15:00.000,209,0.6900,14,14,2.5,0.0,3.08,False,1,"{'type': 'Point', 'coordinates': [-87.72155906...","{'type': 'Point', 'coordinates': [-87.72155906...",2020-04-01,2020/04/01,820,2020-04-01,53.06,53.06,0.0,0.0,0.0,140.92722
3,3,2020-04-01 18:45:00,2020-04-01T18:45:00.000,169,0.7500,33,35,2.5,0.0,3.08,False,1,"{'type': 'Point', 'coordinates': [-87.62033462...","{'type': 'Point', 'coordinates': [-87.61867776...",2020-04-01,2020/04/01,820,2020-04-01,53.06,53.06,0.0,0.0,0.0,140.92722
4,4,2020-04-01 23:00:00,2020-04-01T23:15:00.000,939,5.1700,8,23,10.0,0.0,3.08,False,1,"{'type': 'Point', 'coordinates': [-87.63330803...","{'type': 'Point', 'coordinates': [-87.72091823...",2020-04-01,2020/04/01,820,2020-04-01,53.06,53.06,0.0,0.0,0.0,140.92722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316497,140197,2021-08-31 09:00:00,2021-08-31T09:15:00.000,876,2.8900,16,4,12.5,0.0,1.25,False,1,"{'type': 'Point', 'coordinates': [-87.71281423...","{'type': 'Point', 'coordinates': [-87.70194107...",2021-08-31,2021/08/31,242,2021-08-31,82.04,82.04,0.0,0.0,0.0,210.27236
1316498,140198,2021-08-31 15:15:00,2021-08-31T15:30:00.000,878,1.9100,7,24,7.5,1.0,1.25,False,1,"{'type': 'Point', 'coordinates': [-87.64948872...","{'type': 'Point', 'coordinates': [-87.67635598...",2021-08-31,2021/08/31,242,2021-08-31,82.04,82.04,0.0,0.0,0.0,210.27236
1316499,140199,2021-08-31 16:00:00,2021-08-31T16:15:00.000,1409,5.0605,2,6,12.5,0.0,3.10,False,1,"{'type': 'Point', 'coordinates': [-87.69501258...","{'type': 'Point', 'coordinates': [-87.65599818...",2021-08-31,2021/08/31,242,2021-08-31,82.04,82.04,0.0,0.0,0.0,210.27236
1316500,140200,2021-08-31 14:30:00,2021-08-31T14:45:00.000,551,1.9761,32,33,7.5,3.0,9.85,False,1,"{'type': 'Point', 'coordinates': [-87.62217293...","{'type': 'Point', 'coordinates': [-87.62413529...",2021-08-31,2021/08/31,242,2021-08-31,82.04,82.04,0.0,0.0,0.0,210.27236
1316501,140201,2021-08-31 16:30:00,2021-08-31T17:00:00.000,1009,1.8500,8,8,22.5,0.0,0.00,False,1,"{'type': 'Point', 'coordinates': [-87.61886835...","{'type': 'Point', 'coordinates': [-87.62621053...",2021-08-31,2021/08/31,242,2021-08-31,82.04,82.04,0.0,0.0,0.0,210.27236

In [12]:
new = new.drop(
    [
        "Unnamed: 0_x",
        #"Unnamed: 0.1",
        "Unnamed: 0_y",
        "merge",
        "date_y",
    ],
    axis=1,
)
new = new.rename(columns={"date_x": "date"})

new.to_csv("../15_modified_data/post_covid_final.csv")